@import "../../styles/variables.scss";

.container {
  position: relative;
  height: 100vh;
  min-height: 800px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(31, 29, 43, 0.9)), url("../../../public/images/hero.jpg") center/cover no-repeat;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    margin: 0 1.5rem;
    backdrop-filter: blur(2px);
    padding: $spacing-lg;
    border-radius: $borderRadius;
    text-align: center;
    width: 1000px;
    display: flex;
    flex-direction: column;
    letter-spacing: $letterSpacing;
    text-transform: uppercase;

    @include breakpoint(md) {
      text-align: center;
    }

    &__heading {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: $spacing-sm;
      background: -webkit-linear-gradient(#e66465, #9198e5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: $spacing-sm;

      @include breakpoint(sm) {
        font-size: 3rem;
      }
      @include breakpoint(md) {
        font-size: 3.5rem;
      }
    }
    &__text {
      text-transform:none;
      color: $bg;
      width: 100%;
      font-size: 1rem;
      word-spacing: 0.1rem;
      margin-bottom: $spacing-lg;
      line-height: 1.6rem;

      @include breakpoint(sm) {
        width: 80%;
        font-size: 1.1rem;
      }
      @include breakpoint(md) {
        width: 60%;
        margin: 0 auto $spacing-lg auto;
      }
    }
    button {
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: $borderRadius;
     
      font-weight: 600;
      padding:  $spacing-sm $spacing-lg;
      text-transform: uppercase;
      background: linear-gradient(130deg, #395FF6, #EB3FA9);
      letter-spacing: $letterSpacing;
      font-size: 1.1rem;
      transition: all .4s ease-in-out;
      color: $bgtop;
      border: 1px solid $dark;
      // &:last-child{
      //   margin-left: 1.5rem;
      // }
      &:hover {
        transition: all .4s ease-in-out;
        background: linear-gradient(120deg, #EB3FA9, #395FF6);
      }

    }
    &__btn {
      button {
        width: 100%;
      }
      button:not(:last-child) {
        margin-bottom: $spacing-sm;
      }

      @include breakpoint(md) {
        align-items: center;
        button {
          width: auto;
        }
        margin: 0 auto;
        flex-direction: row;
        button:not(:last-child) {
          margin-bottom: 0;
          margin-right: $spacing-sm;
        }
      }   

    }
  }
  
}