
$light: #ffffff;
$bg: rgb(244, 244, 255);

$gray100: #e1e1e6;
$gray300: #a8a8b3;
$dark: #212529;
$primary: #6d597a;

$cyan-500: #61dafb;
$yellow-500: #eba417;


// spacing
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-sm: 12px;
$spacing-xl: 64px;

//border radius
$borderRadius: 12px;

// letter spacing
$letterSpacing: 0.4px;

//header height
$headerHeight: 80px;

@mixin breakpoint($point) {
   @if $point == xl {
        // 1120px
        @media (min-width: 70em) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    } @else if $point == md-only {
        // 767px
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == sm {
        // 600px
        @media (min-width: 37.5em) {
            @content;
        }
    } @else if $point == sm-only {
        @media (max-width: 599px) {
            @content;
        }
    }
}
