@import "../../styles/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $dark;
  position: relative;

}

.footer {
  padding: 5rem 0 2rem 0;
  width: 1000px;
  margin: 0 1.5rem;

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

    &__headline {
      color: $bg;
      font-size: 1.1rem;
      letter-spacing: $letterSpacing;
      margin-bottom: 24px;
    }
    span {
      color: $bg;
      font-size: 1.1rem;
      margin-bottom: 24px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
      }

      @include breakpoint(md) {
        button {
          width: auto;
        }
        flex-direction: row;
      }

      .input {
        letter-spacing: $letterSpacing;
        font-size: 1.1rem;
        margin-bottom: $spacing-sm;
        padding: $spacing-sm 24px;
        border-radius: $borderRadius;

        @include breakpoint(md) {
          width: 300px;
          margin-bottom: 0;
          margin-right: $spacing-sm;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }
  &__content {
    width: 100%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    text-align: center;
    margin-bottom: $spacing-xl;

    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__col {
      height: 100%;

      &__healine {
        color: $bg;
        font-size: 1.6rem;
        margin-bottom: 24px;
        letter-spacing: $letterSpacing;
      }

      &__links {
        li {
          margin-bottom: $spacing-sm;
          a {
            letter-spacing: $letterSpacing;
            width: 100%;
            color: $bg;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__base {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: $bg;
    @include breakpoint(md) {
      flex-direction: row;
    }
    a,
    &__year,
    ul {
      &:not(:first-child) {
        margin-bottom: $spacing-sm;
        @include breakpoint(md) {
          margin-bottom: 0;
        }
      }
      @include breakpoint(md) {
        flex: 1;
      }
    }
    &__year {
      display: flex;
      justify-content: center;
      letter-spacing: $letterSpacing;
      font-size: 0.9rem;
    }
    &__socials {
      display: flex;
      justify-content: flex-end;
      li {
        list-style-type: none;
        &:not(:last-child) {
          margin-right: 24px;
          @include breakpoint(md) {
            margin-right: $spacing-sm;
          }
        }
        a {
          font-size: 1.6rem;
          color: $primary;
          text-decoration: none;
        }
       
      }
    }
  }

}